body {
  font-family: lobster;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-obackground-size: cover;
  background-size; cover;
  background-color: black;
  background-image: url('https://cdn.pixabay.com/photo/2014/05/02/21/50/home-office-336378_960_720.jpg');
  padding-top:70px;
  color: black;
}

.navbar-default {
  background-color: black;
  border-color: purple;
}
